*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#container{
    background-color: black; 
    margin-bottom: 0px; 
    width: 100%;
    box-sizing: border-box;
}

#main{
    background-color: palevioletred; 
    margin-top: 0px; 
    padding: 8px; 
    text-align: justify;
    box-sizing: border-box;

}
.title{
    font-size: 36pt; 
    background-color: purple; 
    color: lightgray; 
    text-align: center; 
    padding: 0px;
    font-weight: bold;
    margin: 0px;
}

.subtitle{
    background-color: darkkhaki; 
    margin: 0px;
    text-align: center;
    font-size: 18pt; 
    padding: 5px;
    color: black;
    font-weight: bold;
    
}